<body body="body-list-user">
<div class="list-container">
<div class="action-link">
  <%= link_to "Create Users", new_register_path, class: "btn btn-primary" %>

</div>
  <h1>List of Registered Persons</h1>

<div>
  <% @registers.each do |register| %>
   <ul>
    <li> <h2>ดูรายละเอียด: <%= link_to register.first_name, register %></h2></li>
    </ul>
  <% end %>
</div>


</div>
</body>
