.body-list {
  font-family: Sans-serif, sans-serif;
  background-color: #f0f8ff;
  padding-top: 32px;
  width: 60%;
  height: 100vh;
  margin: 0 auto;
}

.container-list {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 
 
}

.header h1 {
  text-align: center;
  padding-bottom: 14px;
}


.row-btn {
  display: flex;
  justify-content:end;
  margin-bottom: 24px;
}

.action-link {
  margin-right: 10px;
 
}

/* User list styling */
.user-list {
  margin-top: 20px;
}

.user-cards {
  list-style: none;
  padding: 0;
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 16px;
  margin-bottom: 15px;
}
.user-info {
  flex: 1;
}
.subject-info {
  font-size: 16px;
  font-weight: normal;
}
.name-info {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.empty-user{
  text-align: center;
  padding: 20px;
  color: #a3a3a3
}


/* Responsive for smaller screens */
@media screen and (max-width: 768px) {
  .container-list {
    width: 90%; 
  }
}

.filter-search {
  display: flex;
  justify-content: space-between; /* Space out elements */
  align-items: center;
  gap: 1rem; /* Space between the search and subject dropdown */
}

.search {
  display: flex;
  gap: 0.5rem; /* Space between search input and search button */
  align-items: center;
}

.filter-select, .filter-input {
  padding: 8px;
  border-radius: 8px;
  
}
#filter-form {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Ensure elements are spread across the row */
  gap: 1rem;
}

.filter {
  flex: 1; /* Allow the subject dropdown to take up remaining space */
}

@media screen and (max-width: 768px) {
  .filter-search {
    flex-direction: column; /* Stack elements on smaller screens */
    gap: 0.5rem;
  }

  .search, .filter {
    width: 100%;
  }
}
