.body-list {
  font-family: Sans-serif, sans-serif;
  background-color: #994376;
  background-image: linear-gradient(#994376, #c54577);
  padding-top: 32px;
  width: 60%;
  height: 100vh;
  margin: 0 auto;
}

.container-list {
  background-color: white;
  padding: 20px;
  border-radius: 24px;
 
}

.header h1 {
  text-align: center;
  padding-bottom: 14px;
}


.row-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.action-link {
  margin-right: 10px;
 
}

.btn {
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
}

.btn-primary {
  color: white;
  background-color: #007bff;
}
.btn-back {
  color:white ;
}
.btn-add {
  background-color: #28a745;
}
.btn-info {
  background-color: #007bff;
}
.btn-filter{
  background-color: #17a2b8;
}

/* User list styling */
.user-list {
  margin-top: 20px;
}

.user-cards {
  list-style: none;
  padding: 0;
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 16px;
  margin-bottom: 15px;
}
.user-info {
  flex: 1;
}
.subject-info {
  font-size: 16px;
  font-weight: normal;
}
.name-info {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.empty-user{
  text-align: center;
  padding: 20px;
  color: #a3a3a3
}


/* Responsive for smaller screens */
@media screen and (max-width: 768px) {
  .container-list {
    width: 90%; 
  }
}

.filter-search {
  display: flex;
  justify-content: space-between; /* Space out elements */
  align-items: center;
  gap: 1rem; /* Space between the search and subject dropdown */
}

.search {
  display: flex;
  gap: 0.5rem; /* Space between search input and search button */
  align-items: center;
}

.filter-select, .filter-input {
  padding: 8px;
  border-radius: 8px;
  
}

.btn-search {
  background-color: #17a2b8;
  color: white;
  border: none;
  border-radius: 8px;
  height: 35px; /* Set a fixed height */
  padding: 0 8px; /* Optional: Control the padding for width */
  cursor: pointer;
  margin-top: 7px;
}

#filter-form {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Ensure elements are spread across the row */
  gap: 1rem;
}

.filter {
  flex: 1; /* Allow the subject dropdown to take up remaining space */
}

@media screen and (max-width: 768px) {
  .filter-search {
    flex-direction: column; /* Stack elements on smaller screens */
    gap: 0.5rem;
  }

  .search, .filter {
    width: 100%;
  }
}
