.body-list {
  font-family: Sans-serif, sans-serif;
  background-color: #994376;
  background-image: linear-gradient(#994376, #c54577);
  padding-top: 32px;
  width: 60%;
  height: 100vh;
  margin: 0 auto;
}

.container-list {
  background-color: white;
  padding: 20px;
  border-radius: 24px;
 
}

.header h1 {
  text-align: center;
  padding-bottom: 14px;
}


.row-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.action-link {
  margin-right: 10px;
 
}

.btn {
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
}

.btn-primary {
  color: white;
  background-color: #007bff;
}
.btn-back {
  color:white ;
}
.btn-add {
  background-color: #28a745;
}
.btn-info {
  background-color: #007bff;
}

/* User list styling */
.user-list {
  margin-top: 20px;
}

.user-cards {
  list-style: none;
  padding: 0;
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 16px;
  margin-bottom: 15px;
}

.user-card p {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.empty-user{
  text-align: center;
  padding: 20px;
  color: #777
}

/* Responsive for smaller screens */
@media screen and (max-width: 768px) {
  .container-list {
    width: 90%; 
  }
}
