<h1>List of registered persons</h1>

<ul>
    <% @registers.each do |register| %>
    <li>
       <%= link_to register.first_name, register%>
    </li>
    <% end %>
</ul>
<%= link_to "Register", new_register_path %>